.people-container .people-header, .results-container .person {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.dropdown-container {
  display: flex;
  align-items: center;
}

.left {
  margin-right: 20px;
}

.middle {
  margin-right: 40px;
}

.right {
  margin-left: 20px;
}
.header-lg {
  flex: 1 0 50%;
}

.header {
  flex: 1 0 25%;
}

.less-headspace {
  padding-top: 1rem !important;
}
